* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* !classi comuni  */
a {
  color: inherit;
  text-decoration: none;
}

.relative {
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-size: 2.5rem;
}

.song-info {
  text-align: center;
  max-width: 300px;
  height: 80px;
  overflow: hidden;
  padding-top: 20px;
}

.subtitle {
  margin-top: 5px;
  opacity: 0.5;
}

/* !misure layout */

.left-navbar {
  height: 90vh;
  width: 10vw;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
}

.outer-header {
  margin-left: 10vw;
  width: 90vw;
  background-color: #080b12;
  height: 8vh;
}

main {
  height: 82vh;
  background-color: #141922;
  margin-left: 10vw;

  overflow: scroll;
  overflow-x: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: #282828;
}

/* !outer-header */

.outer-header .flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.outer-header .flex-container .upgrade {
  border: 1px solid white;
  padding: 10px 40px;

  border-radius: 30px;
  font-size: 0.8rem;
}
.outer-header .flex-container .upgrade:hover {
  opacity: 0.7;
}

/* !navbar-sinistra */

.left-navbar .flex-container {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-navbar {
  height: 50%;
}

/* !main */
/* !inner header */

main .inner-header {
  width: 100%;
  height: 8vh;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

main .inner-header .flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

main ul li {
  display: inline-block;
  margin: 10px 15px;
  position: relative;
  padding: 7px 0;
}

main .inner-header ul li:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 50%;

  transform: translate(-50%, 0);
  border-bottom: 3px solid #97e2a0;
}

/* !sections  */

section p {
  opacity: 0.5;
  margin-left: 13px;
  margin-top: 5px;
  font-size: 1rem;
}

.recent,
.created-for,
.popular {
  margin-top: 20px;
  padding-left: 15px;
}

.recent h2,
.created-for h2,
.popular h2 {
  margin-left: 12px;
}

.recent .box-container .box,
.created-for .box-container .box {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-right: 5px;
  background-position: center;
}

.popular .box-container .box {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-right: 5px;
  background-position: center;
  border-radius: 50%;
}

/* !recent images */

.recent .box-container .box.box-1 {
  background-image: url("img/metal_lifting.jpg");
}
.recent .box-container .box.box-2 {
  background-image: url("img/stranger.jpeg");
}
.recent .box-container .box.box-3 {
  background-image: url("img/aquietplace.jpeg");
}
.recent .box-container .box.box-4 {
  background-image: url("img/split.jpeg");
}
.recent .box-container .box.box-5 {
  background-image: url("img/cure.jpeg");
}
.recent .box-container .box.box-6 {
  background-image: url("img/sinister.jpeg");
}

/* !created-for images */

.created-for .box-container .box.box-1 {
  background-image: url("img/radar.jpeg");
}
.created-for .box-container .box.box-2 {
  background-image: url("img/mixdaily.jpeg");
}

/* !popular */

.popular .box-container .box.box-1 {
  background-image: url("img/youg.jpeg");
}
.popular .box-container .box.box-2 {
  background-image: url("img/einaudi.jpeg");
}
