* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* !classi comuni  */
a {
  color: inherit;
  text-decoration: none;
}

.relative {
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-size: 2.5rem;
}

.song-info {
  text-align: center;
  max-width: 300px;
  height: 80px;
  overflow: hidden;
  padding-top: 20px;
  font-weight: 600;
}

.subtitle {
  margin-top: 5px;
  opacity: 0.5;
}

/* !misure layout */

.left-navbar {
  height: calc(100vh - 130px);
  width: 300px;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
}

.outer-header {
  margin-left: 10vw;
  width: 90vw;
  background-color: #080b12;
  height: 100px;
}

main {
  height: calc(100vh - 130px);
  background-color: #141922;
  margin-left: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 5px 15px 5px;
  height: 130px;
  width: 100%;
  background-color: #282828;
}

/* !outer-header */

.outer-header .flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.outer-header .flex-container .upgrade {
  border: 1px solid white;
  padding: 10px 40px;

  border-radius: 30px;
  font-size: 0.8rem;
}
.outer-header .flex-container .upgrade:hover {
  opacity: 0.7;
}

/* !navbar-sinistra */

.left-navbar .flex-container {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

#logo-navbar {
  height: 50%;
}

/* !main */
/* !inner header */

main .inner-header {
  width: 100%;
  height: 8vh;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

main .inner-header .flex-container {
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

main ul li {
  display: inline-block;
  margin: 10px 15px;
  position: relative;
  padding: 7px 0;
}

main .inner-header ul li:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 50%;

  transform: translate(-50%, 0);
  border-bottom: 3px solid #97e2a0;
}

/* !sections  */

section p {
  opacity: 0.5;
  margin-left: 13px;
  margin-top: 5px;
  font-size: 1rem;
}

.recent,
.created-for,
.popular {
  margin-top: 20px;
  padding-left: 15px;
}

.recent h2,
.created-for h2,
.popular h2 {
  margin-left: 12px;
}

.recent .box-container .box,
.created-for .box-container .box {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-right: 5px;
  background-position: center;
}

.popular .box-container .box {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-right: 5px;
  background-position: center;
  border-radius: 50%;
}

/* !recent images */

.recent .box-container .box.box-1 {
  background-image: url("img/metal_lifting.jpg");
}
.recent .box-container .box.box-2 {
  background-image: url("img/stranger.jpeg");
}
.recent .box-container .box.box-3 {
  background-image: url("img/aquietplace.jpeg");
}
.recent .box-container .box.box-4 {
  background-image: url("img/split.jpeg");
}
.recent .box-container .box.box-5 {
  background-image: url("img/cure.jpeg");
}
.recent .box-container .box.box-6 {
  background-image: url("img/sinister.jpeg");
}

/* !created-for images */

.created-for .box-container .box.box-1 {
  background-image: url("img/radar.jpeg");
}
.created-for .box-container .box.box-2 {
  background-image: url("img/mixdaily.jpeg");
}

/* !popular */

.popular .box-container .box.box-1 {
  background-image: url("img/youg.jpeg");
}
.popular .box-container .box.box-2 {
  background-image: url("img/einaudi.jpeg");
}

/* !footer */

footer {
  display: flex;
  padding-top: 20px;
}

footer .current-song {
  flex: 1;
  display: flex;
  align-items: center;
}

.current-song .on-going-image {
  height: 50px;
  width: 50px;
  background-image: url("/css/img/sinister.jpeg");
  background-size: cover;
}

.current-song .song-info {
  margin-left: 15px;
  text-align: left;
}

.current-song .save-folder img {
  height: 20px;
  opacity: 0.4;
  margin-right: 10px;
}
.current-song .save-folder {
  margin-left: 100px;
}

footer .currently-playing {
  flex: 2;
  text-align: center;
}

.currently-playing .controls img {
  height: 20px;
  margin-right: 20px;
  vertical-align: middle;
}
.currently-playing .controls img:nth-child(3) {
  height: 40px;
  margin-right: 20px;
}

.currently-playing .progress-bar {
  margin-top: 15px;
}
.currently-playing .progress-bar .bar {
  display: inline-block;
  height: 2px;
  width: 500px;
  background-color: grey;
  vertical-align: middle;
  margin: 0 15px;
}

.currently-playing .progress-bar .bar::before,
.volume-controls .bar::before {
  content: "";
  display: block;
  height: 2px;
  width: 30%;
  background-color: white;
}

footer .volume-controls {
  flex: 1;
  display: flex;
  align-items: center;
}

.volume-controls img {
  height: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.volume-controls .bar {
  display: inline-block;
  height: 2px;
  width: 200px;
  background-color: grey;
  vertical-align: middle;
  margin: 0 15px;
}

/* !media queries */

@media screen and (max-width: 700px) {
  .left-navbar {
    height: 90vh;
    width: 70px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
  }
  main {
    margin-left: 70px;
  }
}
